{% extends 'layout.html' %}

{% block content %}

<!-- Sub banner start -->
<div class="sub-banner bg-color-full">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Career Notes</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Career Notes</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->


<!-- Blog body start -->
<div class="blog-body content-area">
    <div class="container">
        <div class="row">
            {%for article in page_obj%}
                <div class="col-lg-12">
                    <div class="blog-1">
                        <div class="detail">
                            <h3>{{article.title}}</h3>
                            <div class="post-meta">
                                <span><i class="flaticon-time"></i>{{article.date}}</span>
                                <span><a href="#"><i class="flaticon-comment"></i>27</a></span>
                            </div>
                            <p>{{article.content}}</p>
                            <a href="{% url 'article' slug=article.slug %}" class="read-more">Read more</a>
                        </div>
                    </div>
                </div>
            {%endfor%}
        </div>
        <!-- Page navigation start -->
            <div class="pagination-box hidden-mb-45 text-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">&laquo; 1 </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Prev</a>
                            </li>
                        {% endif %}
                        <li class="page-item"><p class="page-link active">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p></li>
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{page_obj.paginator.num_pages}} &raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        <!-- Page navigation end -->
    </div>
</div>
<!-- Blog body end -->

{% endblock content %}