{% extends 'layout.html' %}
{% load static %}

{% block content %}

<!-- Sub banner start -->
<div class="sub-banner bg-color-full">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>About</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">About</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<!-- About us start -->
<div class="about-us  content-area-5">
    <div class="container">
        <div class="row about">
            <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <div class="about-slider-box simple-slider">
                    <img class="d-block w-100" src="{% static 'main/about1.jpg' %}" alt="slide">
                </div>
            </div>
            <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Welcome To JobScout</h3>
                    <p>
                        JS saw huge potential in focusing on company websites as the best and cleanest source of jobs, so I formed JobScout and makes navigating your career easy. This is only the beginning. In this next phase, Scouting is building a platform for candidates to provide clear advice on the job searching, resume writing, and other career planning topics ,whether you're looking to find a new job, advance at your current position, or explore new paths for yourself, now and in the future. We have always believed that candidates are more than their resumes. JobScout  actively pursue new and different ways to further missions and forge its own path by challenging the status quo.
                        That’s a big goal, and we’re passionate about achieving it. But what energizes us is the knowledge that every day we get to connect individuals to fulfilling careers that allow them to thrive.
                    </p>  
                        <p>Sincerely,<br>JS Administration</p> 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About us end -->

<!-- Services start -->
<div class="services content-area-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Our Service</h1>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="icon">
                        <i class="flaticon-work"></i>
                    </div>
                    <h5>Advertise a Job</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="icon">
                        <i class="flaticon-notepad"></i>
                    </div>
                    <h5>CV Templates</h5>
                    <p>Lorem ipsumdolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services end -->

{% endblock content %}