{% extends 'layout.html' %}
{% load static %}

{% block content %}

<!-- Sub banner start -->
<div class="sub-banner bg-color-full">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>About</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">About</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<!-- About us start -->
<div class="about-us content-area-5">
    <div class="container">
        <div class="row about">
            <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <div class="about-slider-box simple-slider">
                    <img class="d-block w-100" src="{{about.image.url}}" alt="slide">
                </div>
            </div>
            <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Welcome To JobScout</h3>
                    <p>{{about.content}}</p>  
                        <p>Sincerely,<br>JS Administration</p> 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About us end -->

<!-- Services start -->
<div class="services content-area-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Our Service</h1>
        </div>
        <div class="row service">
            {%for service in services%}
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="service-info">
                    <div class="icon">
                        <i class={{service.icon_name}}></i>
                    </div>
                    <h5>{{service.name}}</h5>
                    <p>{{service.message}}</p>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
<!-- Services end -->

{% endblock content %}