{% extends 'layout.html' %}

{% block content %}
<!-- Sub banner start -->
<div class="sub-banner bg-color-full">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Contact Me</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Contact Me</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<!-- Contact 2 start -->
<div class="contact-2 content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Contact Me</h1>
            <p>If you have any question, contact me.</p>
        </div>
        <!-- Contact info -->
        <div class="contact-info">
            <div class="row">
                <div class="col-md-4 col-sm-6 mrg-btn-50">
                    <i class="flaticon-phone"></i>
                    <p>Phone Number</p>
                    <strong>+994 50 807 45 75</strong>
                </div>
                <div class="col-md-4 col-sm-6 mrg-btn-50">
                    <i class="flaticon-mail"></i>
                    <p>Email Address</p>
                    <strong>eldarmansimov@gmail.com</strong>
                </div>
                <div class="col-md-4 col-sm-6 mrg-btn-50">
                    <i class="fa fa-linkedin"></i>
                    <p>LinkedIn</p>
                    <strong>Eldar Mansimov</strong>
                </div>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class="col-lg-12">
                    <div style="margin-bottom:30px;">
                        <h4 class="text-center">Send your message</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group name">
                                {{form.name}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group email">
                                {{form.email}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group subject">
                                {{form.subject}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group number">
                                {{form.number}}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group message">
                                {{form.message}}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="send-btn text-center">
                                <button type="submit" class="btn btn-md button-theme">Send Message</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Contact 2 end -->
{% endblock content %}