{% extends 'layout.html' %}

{% block content %}

<!-- Sub banner start -->
<div class="sub-banner bg-color-full">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>{{object.company}} : {{object.title}}</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active"><a href="{% url 'joblist' %}">Jobs</a></li>
                <li class="active">Job Detail</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->


<!-- Job details page start -->
<div class="job-details-page content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <!-- job box 2 start -->
                <div class="job-box-2">
                    <div class="company-logo">
                        <img src="{{object.logo.url}}" alt="avatar">
                    </div>
                    <div class="description">
                        <h5 class="title">{{object.title}}</h5>
                        <div class="candidate-listing-footer">
                            <ul>
                                <li><i class="flaticon-work"></i>{{object.company}}</li>
                                <li><i class="flaticon-pin"></i>{{object.location}}</li>
                                <li><i class="flaticon-time"></i>{{object.job_type}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="hr-boder">
                <!-- job description start -->
                <div class="job-description mb-40">
                    <h3 class="heading-2">Job Description</h3>
                    <p>{{object.description}}</p>
                </div>
                <div class="clearfix"></div>
               
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right-2">
                    <!-- Job overview start -->
                    <div class="job-overview widget">
                        <h3 class="sidebar-title">Job Overview</h3>
                        <div class="s-border"></div>
                        <ul>
                            <li><i class="flaticon-notepad"></i><h5>Category</h5><span>{{object.category.name}}</span></li>
                            <li><i class="flaticon-pin"></i><h5>Location</h5><span>{{object.location}}</span></li>
                            <li><i class="flaticon-work"></i><h5>Job Type</h5><span>{{object.job_type}}</span></li>
                            <li><i class="flaticon-notepad"></i><h5>Experience</h5><span>{{object.experience}}</span></li>
                            <li><i class="flaticon-mail"></i><h5>Contact</h5><span>{{object.contact}}</span></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Job details page end -->


{% endblock content %}
